<H1>Hello world</H1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="eco">
          <th mat-header-cell *matHeaderCellDef> eco </th>
          <td mat-cell *matCellDef="let element"> {{element.eco}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lat">
          <th mat-header-cell *matHeaderCellDef> lat </th>
          <td mat-cell *matCellDef="let element"> {{element.lat}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="lng">
          <th mat-header-cell *matHeaderCellDef> lng </th>
          <td mat-cell *matCellDef="let element"> {{element.lng}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> state </th>
          <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef> country </th>
          <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

    </div>
    <div class="col-6">
      <h2>Column2</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Column3</h2>
    </div>
    <div class="col-6">
      <h2>Column4</h2>
    </div>
  </div>
</div>